@impotr 'nib'
global-reset()
reset-html5()
body
  margin 27pt
h1
  font-size 27pt
  margin 27pt 0
  text-align center
table
  margin 0 auto
  border-spacing 0
  td
    padding 0
.t
  .l
    .tl
      stylsprite '../img/t/l/tl.png'
    .tr
      stylsprite '/img/t/l/tr.png'
    .bl
      stylsprite '/../dest/img/t/l/bl.png'
    .br
      stylsprite '/img/t/l/br.png'
  .r
    .tl
      stylsprite '../img/t/r/tl.png'
    .tr
      stylsprite '/img/t/r/tr.png'
    .bl
      stylsprite '/../dest/img/t/r/bl.png'
    .br
      stylsprite '/img/t/r/br.png'
.b
  .l
    .tl
      stylsprite '../img/b/l/tl.png'
    .tr
      stylsprite '/img/b/l/tr.png'
    .bl
      stylsprite '/../dest/img/b/l/bl.png'
    .br
      stylsprite '/img/b/l/br.png'
  .r
    .tl
      stylsprite '../img/b/r/tl.png'
    .tr
      stylsprite '/img/b/r/tr.png'
    .bl
      stylsprite '/../dest/img/b/r/bl.png'
    .br
      stylsprite '/img/b/r/br.png'