doctype html
html
  head
    meta(charset='utf-8')
    title grunt-stylsprite
    link(rel='stylesheet',href='css/index.css')
  body
    h1 Can you made eye contact with she ?
    table: tbody
      tr.t
        td.l: table: tbody
          tr
            td.tl
            td.tr
          tr
            td.bl
            td.br
        td.r: table: tbody
          tr
            td.tl
            td.tr
          tr
            td.bl
            td.br
      tr.b
        td.l: table: tbody
          tr
            td.tl
            td.tr
          tr
            td.bl
            td.br
        td.r: table: tbody
          tr
            td.tl
            td.tr
          tr
            td.bl
            td.br