@impotr 'nib'
global-reset()
reset-html5()
body
  margin 27pt
h1
  font-size 27pt
  margin 27pt 0
  text-align center
table
  margin 0 auto
  border-spacing 0
  td
    padding 0
.t
  .l
    .tl
      stylsprite 'img/t/tl-tl.png'
    .tr
      stylsprite './img/t/tl-tr.png'
    .bl
      stylsprite '../dest/img/t/tl-bl.png'
    .br
      stylsprite '/img/t/tl-br.png'
  .r
    .tl
      stylsprite 'img/t/r/tr-tl.png'
    .tr
      stylsprite './img/t/r/tr-tr.png'
    .bl
      stylsprite '../dest/img/t/r/tr-bl.png'
    .br
      stylsprite '/img/t/r/tr-br.png'
.b
  .l
    .tl
      stylsprite 'img/b/bl-tl.png'
    .tr
      stylsprite './img/b/bl-tr.png'
    .bl
      stylsprite '../dest/img/b/bl-bl.png'
    .br
      stylsprite '/img/b/bl-br.png'
  .r
    .tl
      stylsprite 'img/b/r/br-tl.png'
    .tr
      stylsprite './img/b/r/br-tr.png'
    .bl
      stylsprite '../dest/img/b/r/br-bl.png'
    .br
      stylsprite '/img/b/r/br-br.png'