body {
  background-image: url("../img/icons/apple.png");
  background-image: url(../img/icons/apple.png);
  background-position: 0px 0px;
  background-size: 47px 239px;
  background-repeat: no-repeat;
  width: 47px;
  height: 47px;
}
