body {
  background-image: url("../img/icons/apple.png");
  width: 47px;
  height: 47px;
  background-image: url(/img/timer.png);
  background-size: 47px 47px;
  width: 47px;
  height: 47px;
  background-image: url(../img/allinone.png);
  background-position: 0px 0px;
  background-size: 239px 287px;
  width: 47px;
  height: 47px;
  background-image: url(../img/icons.png);
  background-position: 0px 0px;
  background-size: 95px 143px;
  width: 47px;
  height: 47px;
  background-image: url(../img/subdir/icons.png);
  background-position: -48px -48px;
  background-size: 95px 143px;
  width: 47px;
  height: 47px;
  background-image: url(../img/allinone.png);
  background-position: 0px 0px;
  background-size: 239px 287px;
  width: 47px;
  height: 47px;
  background-image: url(../img/srcdest.png);
  background-position: 0px 0px;
  background-size: 191px 287px;
  width: 47px;
  height: 47px;
  background-image: url(../img/multisrc.png);
  background-position: 0px 0px;
  background-size: 95px 143px;
  width: 47px;
  height: 47px;
  background-image: url(../img/timer.png);
  background-size: 47px 47px;
  width: 94px;
  height: 94px;
  background-image: url(./img/timer.png);
  background-size: 94px 94px;
  width: 94px;
  height: 94px;
  background-image: url(./img/timer.png);
  background-size: 94px 94px;
  background-image: url(./img/hoge.png);
}
