body
	background-image url('../img/icons/apple.png')
	stylsprite '../img/icons/apple.png'
	stylsprite '../img/subdir/icons/heart.png'
	stylsprite "../img/allinone/icons/apple.png"
	stylsprite "../img/srcdest/icons/apple.png"
	stylsprite "../img/multisrc/icons/apple.png"
	stylsprite "../img/timer.png",2
	stylsprite "/img/timer.png",2
	stylsprite "/img/allinone/icons/apple.png"
	stylsprite "./img/timer.png",1