body
	background-image url('../img/icons/apple.png')
	stylsprite url(icons/fitness.png)
	stylsprite url(./icons/fitness.png)
	stylsprite url('../img/icons/apple.png')
	stylsprite url(/img/icons/heart.png)